<section id="about" class="section">
    <div class="container">
      <h2>About Me</h2>
      <p>I am a seasoned Software Engineer with over 11 years of experience in the tech industry, specializing in full-stack web development. After taking an 8.5-year career break to care for my special needs daughter, I am excited and fully prepared to re-enter the workforce, armed with fresh skills and renewed enthusiasm.</p>

<p>Recently, I completed a rigorous Java Full Stack Web Development boot camp from Caltech University, where I honed my expertise in modern web technologies. I am proficient in Java, Spring, Spring Boot, Angular, Oracle/MySQL, and SQL, and I am eager to apply my knowledge to tackle new and exciting challenges.</p>

<p>Throughout my career, I have consistently delivered high-quality software solutions by leveraging my strong analytical skills, problem-solving abilities, and dedication to continuous improvement. My hands-on experience in both front-end and back-end development allows me to create seamless and scalable applications that meet user needs and business goals.</p>

<p>I am passionate about staying current with the latest industry trends and technologies, and I am always looking for opportunities to learn and grow. As I embark on this new chapter of my professional journey, I am excited to bring my extensive experience, technical acumen, and commitment to excellence to a dynamic and innovative team.</p>
    </div>
  </section>