<!-- Contact Section -->
<section id="contact" class="section">
    <div class="container">
    <h2>Contact Me</h2>
    <p>If you'd like to get in touch, feel free to reach out through the following channels:</p>

    <ul class="contact-info">
      <li>
        <strong>Email:</strong> <a href="mailto:radhika.piratla&#64;gmail.com">radhika.piratla&#64;gmail.com</a>
      </li>
      <li>
        <strong>Phone:</strong> <a href="tel:+1234567890">+1 (650) 690-1014</a>
      </li>
      <li>
        <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/padmaprofile/" target="_blank">View my LinkedIn</a>
      </li>
      <li>
        <strong>GitHub:</strong> <a href="https://github.com/PadmaRadhika" target="_blank">View my GitHub</a>
      </li>
    </ul>
  </div>
</section>