<!-- Resume Section -->
<!-- <section id="resume" class="section">
    <div class="container">
      <h2>My Resume</h2>
	  <iframe src="assets/Padma.pdf" width="100%" height="600px" style="border: none;"></iframe>
    </div>
  </section> -->
  <section id="resume" class="section">
    <div class="container">
      <h2>My Resume</h2>
      <iframe src="assets/Padma.pdf" width="100%" height="600px" class="resume-iframe"></iframe>
      <p><a href="assets/PadmaUpadhyayula.docx" download="Padma_Radhika_Resume.docx" class="download-button">Download My Resume</a></p>
    </div>
  </section>
  